# Excel and data manipulation:
pandas
# nltk

# Image processing:
opencv-python
matplotlib
pdf2image
pytesseract

# 
openpyxl

# text
Unidecode
underthesea
pyvi

# pyvi
pytorch-nlp

scikit-learn

# VietnameseOcrCorrection
numpy
lmdb
tqdm
unicodedata2
nltk
jupyter-notebook
